/*=========================================================
	ACML UPDATE
===========================================================*/
.bold-date {
  color: #4389eb;
}

.description {
  color: dimgray;
  font-size: 18px;
}

.card-image-top {
  object-fit: cover;
  width: 328px;
  height: 328px;
}

.pre-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.time-zone { 
  font-size: 13px;
  color: #adb5bd;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 700; 
}

.modal-btn {
  font-size: 1rem;
  font-weight: normal;
  text-transform: capitalize;
  text-decoration: underline;
  color: #4389eb;
}

.website-link {
  text-decoration: underline;
  color: #4389eb;
}

a:hover {
  text-decoration: none;
  color: #2962b3;
}

button:focus {
  outline: none;
}
